.wrapper {
  padding: 40px;
}

.title {
  font-size: 32px;
  font-weight: bold;
  padding-bottom: 40px;
}

.counter {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
}
.btn {
  margin-left: 40px;
}

.scrollContainer {
  padding: 20px;
  border: 1px solid #eee;
  height: calc(100vh - 500px);
}
